
.main{
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: white;
  width: 45%;
  position: absolute;
  left:25%;
  height:95%;
  border-radius: 10px;
  box-shadow: 10px 10px 5px 5px rgb(39, 38, 38);


  
}
.list{
  display:flex;
  flex-direction: row;
  justify-content:space-evenly;
  width:50%

}
.left-side,.center,.right-side{
text-align: center;
}

button{
  width:20vw;
  height:8vh;
  margin:5px;
  background-color: rgb(241, 107, 130);
  border:1px solid;
  border-radius: 5px;
  color:aliceblue
}
img{
  border-radius: 50%;
  width:150px;
  height:150px;

}
.left-btn{
  background-color: blueviolet;
}
.img-div{
  border-radius: 50%;
}
.num{
  color:blueviolet
}
h3{
  color:rgb(58, 57, 57);
}
p{
  color: rgb(36, 35, 35);
}
body{
  background-color: gray;
}